body{
    margin:0;
    padding: 0;
    background:url(bg1.jpg) no-repeat; 
    background-size: cover;
}
.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(72, 232, 238);
    height:40px;
    border-radius:40px;
    padding: 10px;
}

.search-box:hover > .search-txt{
    width:240px;
    padding:0 6px;
}
.search-box:hover > .search-btn{
    background: white;
    
}
.container{
        width: 280px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
        font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
}

.search-btn{
    color: blue;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

.gcse-searchbox-only{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(72, 232, 238);
    height:40px;
    border-radius:40px;
    padding: 10px;
    text-decoration-color: black;
}